:host {
  width: 100%;
}

.layout {
  background-color: #fff;
  color: #023642;
  padding: 40px 120px;
  letter-spacing: 0.7px;

  .headline {
    margin-top: 0;
    line-height: 38px;
  }

  .content {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }
}
